
html, body { 
    height : 100%;
}

.row {
    padding: 0;
}

.is-hidden {
    display: none!important;
}

.is-active {
    display: block;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* Dark translucent background */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 9999;
}

#loading img {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
}


#pred img, #truth img {
    width: 12%;
    margin: 1px;
}

#shot-image img {
    width: 512px;
    height: 512px;
    margin: 1px;
}

.progress {
    height: 50px!important;
    width: 95%;
    margin: 1%;
}

.main {
    width: 50%;
}

.top-menu a {
    margin: 0.5%;
}

.dashboard, .bars {
    width: 100%;
}

.model-page-main {
    width: 80%!important;
    min-height: 100%;
    padding: 0;
}

.model-page-main .model-form {
  border-right: 2px solid gray;
  padding: 2%;
}

.model-page-main .model-response {
    padding: 2%;
    min-height: 50%;
}

.model-page-main .input-img {
    width: 256px;
    height: 512px;
    padding: 2%;
    margin: 1% auto;
    border: 1px solid black;
  }
  
 .model-page-main .input-img img, .model-page-main .model-response img {
    width: 220px;
    height: 480px;
  }

  .naming input {
    border-radius: 0;
    border: none;
    border-bottom: 1px solid gray;
  }

  .naming button {
    border-radius: 0;
  }

  .inference-board {
    font-size: 14px;
  }

  .inference-board .model-form {
    border-right: 1px solid gray;
    padding: 2%;
  }

  .inference-board .model-response {
    padding: 2%;
  } 


