{% extends "main_template.html" %}
{% load static %}

{% block title %}

Predictor

{% endblock %}


{% block content %}

  
<div class="container-fluid model-page-main">
    <div class="row h-100">
    <div class="col-2 model-selection">
        <p><strong>Model Seçimi:</strong></p>
        <hr>
        <a href="{% url 'predictor' 'gramaj' %}" class="btn btn-success text-center">Gramaj</a>
        <a href="{% url 'predictor' 'weft' %}" class="btn btn-success text-center">Yırtılma Mukavemeti (Atkı)</a>
        <a href="{% url 'predictor' 'warp' %}" class="btn btn-success text-center">Yırtılma Mukavemeti (Çözgü)</a>
        <a href="{% url 'predictor' 'elasticity' %}" class="btn btn-success text-center">Elastikiyet</a>
        <a href="{% url 'predictor' 'potluk' %}" class="btn btn-success text-center">Potluk</a>
        <a href="{% url 'predictor' 'cielabl' %}" class="btn btn-success text-center">CIELab*L</a>
        <a href="{% url 'predictor' 'cielaba' %}" class="btn btn-success text-center">CIELab*a</a>
        <a href="{% url 'predictor' 'cielabb' %}" class="btn btn-success text-center">CIELab*b</a>
    </div>
    <div class="col-5 model-form">
        
        <form method="post" enctype="multipart/form-data" id="grand_form">
            {% csrf_token %}

            <p><strong>Değişkenler:</strong></p>
            <hr>

            <div class="mb-3">
                <div>
                    <label class="form-label" for="id_raw_image">Ham Kumaş Görüntüsü</label>
                </div>
                <input type="file" name="raw_image" id="id_raw_image" accept=".jpg, .png, .jpeg, |image/*">
            </div>
            <hr>
            <div class="row mb-3">
                <label class="form-label">Prosess Koşulları</label>
                <div class="col-4">
                    <label class="form-label" for="id_step">Adım Sayısı</label>
                    <select name="step" class="form-select" title="" id="id_step">
                        <option>1</option>
                        <option>2</option>
                    </select>
                </div>
                <div class="col-4">
                    <label class="form-label" for="id_duration">Süre (dakika)</label>
                    <select name="duration" class="form-select" title="" id="id_duration">
                        <option>3</option>
                        <option>5</option>
                        <option>7</option>
                    </select>
                </div>
                <div class="col-4">
                    <label class="form-label" for="id_concentration">Konsantrasyon (ml)</label>
                    <select name="concentration" class="form-select" title="" id="id_concentration">
                        <option>2000</option>
                        <option>3000</option>
                        <option>4000</option>
                        <option>5000</option>
                    </select>
                </div>
            </div>

            <hr>
            <div class="mb-3 row">

                <label class="form-label">Kumaş Özellikleri</label>
                <div class="col-4">
                    <label class="form-label" for="id_type_number">Kumaş Tipi</label>
                    <select name="type_number" class="form-select" title="" id="id_type_number">
                        {% for t in types %}
                        <option>{{ t }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col-4">
                    <label class="form-label" for="id_coloring_type">Boyama Tipi</label>
                    <select name="coloring_type" class="form-select" title="" id="id_coloring_type">
                        <option>halat</option>
                        <option>indigo</option>
                        <option>Slasher</option>
                        <option>Vat dye</option>
                    </select>
                </div>

                <div class="col-4">
                    <label class="form-label" for="id_onzyd">Onz/yd2</label>
                    <input type="number" name="onzyd" class="form-control" id="id_onzyd" value="0">
                </div>

            </div>

            <div class="mb-3 row">

                <div class="col-4">
                    <label class="form-label" for="id_yarn_number">İplik No</label>
                    <input type="number" name="yarn_number" class="form-control" id="id_yarn_number" value="0">
                </div>

                <div class="col-4">
                    <label class="form-label" for="id_frequency_te">Sıklık te</label>
                    <input type="number" name="frequency_te" class="form-control" id="id_frequency_te" value="0">
                </div>

                <div class="col-4">
                    <label class="form-label" for="id_knitting">Örgü</label>
                    <select name="knitting" class="form-select" title="" id="id_knitting">
                        <option>2/1 Z</option>
                        <option>3/1 KIRIK DİMİ</option>
                        <option>3/1 RHT</option>
                        <option>3/1 Z</option>
                        <option>4/1 SATEN 3 ATLA</option>
                    </select>
                </div>

            </div>
            <hr>
            <div class="mb-3 row">

                <label class="form-label">Proses Öncesi:</label>
                <div class="col-4">
                    <label class="form-label" for="id_raw">Ham</label>
                    <input type="number" name="aw" class="form-control" id="id_raw" value="0">
                </div>
                <div class="col-4">
                    <label class="form-label" for="id_hypo">Hypo Öncesi</label>
                    <input type="number" name="hypo" class="form-control" id="id_hypo" value="0">
                </div>
            </div>

            <button class="btn btn-success text-center"
                id="data-form-button2"
                type="submit">Predict
            </button>

        </form>
        
    </div>
    
    <div class="col-5 model-support">
        <div class="row">
            <div class="col-4">
                {% if file %}
                    <p><strong>Girdiler:</strong></p>
                    <hr>
                    
                    <img src="/{{ file }}"/>
                    
                    <hr>
                    <p>{{ step }}</p>
                    <p>{{ duration }}</p>
                    <p>{{ concentration }}</p>
                    <hr>
                    <p>{{ type }}</p>
                {% endif %}
            </div>

            <div class="col-8">
                {% if photo %}
                    <p><strong>Çıktılar:</strong></p>
                    <hr>
                    
                    <p>{{ step }}</p>
                    <p>{{ duration }}</p>
                    <p>{{ concentration }}</p>
                    <hr>
                    <p>{{ type }}</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
</div>


        
{% endblock %}