{% extends "main_template.html" %}
{% load static %}

{% block title %}

İstem Ayarları

{% endblock %}


{% block content %}

  

<div class="container-fluid d-flex justify-content-center align-items-center modeling-configuration">
    <form method="post">
        <div class="row">
            {% csrf_token %}
            <div class="mb-3">
                <label for="prompt_type" class="form-label">İstem Tipi</label> 
                <select name="prompt_type" class="form-select">
                    <option value="generator">Üretici</option>
                    <option value="predictor">Tahmin Edici</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="prompt_model_type" class="form-label">Model Tipi</label> 
                <select name="prompt_model_type" class="form-select">
                    <option value="dcgan">DCGAN</option>
                    <option value="srgan">SRGAN</option>
                    <option value="unet_plus">Unet++</option>
                    <option value="unet_plus_cond">Unet++ Conditional</option>
                    <option value="unet_plus_gan">Unet++ Gan</option>
                    <option value="unet_plus_gan_cond">Unet++ Gan Conditional</option>
                    <option value="image_cond">UnetGan</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="promt_model_version" class="form-label">Kayıtlı Modeller</label> 
                <select name="promt_model_version" class="form-select">
                    <option value="dcgan">Seçiniz</option>
                </select>
            </div>
            
            <button type="submit" class="btn btn-success">Uygula</button>
            <a href="http://127.0.0.1:5000/inference-page" class="btn btn-primary" target="_blank">Devam</a>
        </div>
    </form>
</div> 


     
{% endblock %}