{% extends "main_template.html" %}
{% load static %}

{% block title %}

Kumaş Verisi Giriş

{% endblock %}

{% block content %}
<div class="container-fluid import-area">
    <div class="data-form" enctype="multipart/form-data" id="grand_form">
        <form method="post">
            {% csrf_token %}
            <p><strong>Veri Girişi | {{ what }}</strong></p>
            <hr>
            <p><strong>Tip Numarası:</strong></p>
            <div class="col-4">
                
                {{ form.fabric_id }}
                
            </div>
            <hr>

            <p><strong>Öznitelikler:</strong></p>
            <hr>

            <div class="row mb-3">
                <div class="col-4">
                    <label class="form-label" for="id_material">Malzeme</label>
                    {{ form.material }}
                </div>
                <div class="col-4">
                    <label class="form-label" for="id_material_text">Malzeme Metni</label>
                    {{ form.material_text }}
                </div>
                <div class="col-4">
                    <label class="form-label" for="id_coloring">Boyama</label>
                    {{ form.coloring }}
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-4">
                    <label class="form-label" for="id_coloring_type">Boyama Tipi</label>
                    {{ form.coloring_type }}
                </div>
                <div class="col-4">
                    <label class="form-label" for="id_elastan">Elastanlık</label>
                    {{ form.elastan }}
                </div>
                <div class="col-4">
                    <label class="form-label" for="id_elasticity">Atkı Elastikiyet Ortalaması</label>
                    {{ form.elasticity }}
                </div>
                
            </div>

            <div class="row mb-3">
                <div class="col-4">
                    <label class="form-label" for="id_composition">Kompozisyon</label>
                    {{ form.composition }}
                </div>
                <div class="col-4">
                    <label class="form-label" for="id_yarn_number">İplik Numarası</label>
                    {{ form.yarn_number }}
                </div>
                <div class="col-4">
                    <label class="form-label" for="id_siklik">Sıklık</label>
                    {{ form.frequency }}
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-4">
                    <label class="form-label" for="id_knitting">Örgü</label>
                    {{ form.knitting }}
                </div>
                <div class="col-4">
                    <label class="form-label" for="id_onzyd">Onz/yd2</label>
                    {{ form.onyzd }}
                </div>
                <div class="col-4">
                    <label class="form-label" for="id_onzyd_washed">Onz/yd2 Washed</label>
                    {{ form.onyzd_washed }}
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-4">
                    <label class="form-label" for="id_product_color">Mamul Rengi</label>
                    {{ form.product_color }}
                </div>
                <div class="col-4">
                    <label class="form-label" for="id_width">En (cm)</label>
                    {{ form.width }}
                </div>
            </div>
            <button class="btn btn-success text-center"
                id="fabric-form-button"
                type="submit">Ekle | Güncelle
            </button>
        </form>
    </div>
</div>
{% endblock %}