{% extends "main_template.html" %}
{% load static %}

{% block title %}

Görüntüler

{% endblock %}


{% block content %}

<div class="container-fluid data-import-main">
    <div class="data-form">
        <form method="post" enctype="multipart/form-data" id="image_upload">
            {% csrf_token %}
            <p><strong>Veri Yükleme | Görüntüler</strong></p>
            <hr>
            <div class="mb-3">
                <div>
                    <label class="form-label" for="raw_folder">Ham Kumaş Görüntü Klasörü</label>
                </div>
                {{ form.raw_folder }}
            </div>
            <div class="mb-3">
                <div>
                    <label class="form-label" for="hypo_folder">Hipo Öncesi Görüntü Klasörü</label>
                </div>
                {{ form.hypo_folder }}
            </div>
            <div class="mb-3">
                <div>
                    <label class="form-label" for="exp_folder">Deney Sonuçları Görüntü Klasörü</label>
                </div>
                {{ form.exp_folder }}
            </div>
            <button class="btn btn-success text-center" type="submit" id="image_upload_button">Yükle</button>
        </form>
        {% if message %}
            <p>{{ message }}</p>
        {% endif %}  
    </div>
    

</div>

{% endblock %}