{% extends "main_template.html" %}
{% load static %}

{% block title %}

Modelleme

{% endblock %}


{% block content %}

  
<div class="container-fluid d-flex justify-content-center align-items-center modeling-page-main">
    <a href="{% url 'data_main_page' %}">
        <div class="dataset">
            <div class="card">
                <div class="card-body"> 
                    <h5 class="card-title">Veritabanı İşlemleri</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Veri Depolama</h6>
                    <p class="card-text">Kumaş özellikleri, reçete kayıtları, yeni
                         deney sonuçlarının kaydedilmesi.
                    </p>
                    <a href="{% url 'data_main_page' %}"" class="card-link">
                        <i class="fa fa-long-arrow-right"></i>Ayarlar</a>
                </div>
            </div>
        </div>
    </a>
    <a href="{% url 'data_settings' %}">
        <div class="dataset">
            <div class="card">
                <div class="card-body"> 
                    <h5 class="card-title">Modelleme İşlemleri</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Öznitelik seçimi</h6>
                    <p class="card-text">Veri tabanında yer alan verinin kolonlara göre
                        filtrelenmesi.    
                    </p>
                    <a href="{% url 'data_settings' %}" class="card-link">
                        <i class="fa fa-long-arrow-right"></i>Ayarlar</a>
                </div>
            </div>
        </div>
    </a>
</div>
        
{% endblock %}