{% extends "main_template.html" %}
{% load static %}

{% block title %}

AI Effort

{% endblock %}


{% block content %}

  
<div class="container-fluid main-page-main">
        <div class="mb-2 home-header"></div>
        <div class="row row-equal-height">
            <div class="col-md-4">
                <div class="welcome-card">
                    
                    <h1 class="welcome-card-title">
                        Generative
                        <br />
                        Denim AI
                    </h1>
                
                    <p class="welcome-card-description">
                        Lorem ipsum dolor amet kombucha try-hard biodiesel XOXO scenester
                        subway tile. Etsy selvage shaman master cleanse activated charcoal.
                        Celiac hella wayfarers glossier palo santo pork belly. Vape twee
                        stumptown normcore. Occupy fingerstache listicle etsy.
                    </p>
                    <a href="/explore/" class="welcome-card-link">
                        Explore catalog
                        <i class="fa fa-long-arrow-right fa-fw" aria-hidden="true"></i>
                    </a>
                
                </div>
            </div>
            <div class="col-md-4 kpi-card-wrapper">
             
                <div class="kpi-card">
                    <i class="kpi-icon fa fa-gitlab" aria-hidden="true"></i>
                    <p class="kpi-title">PROMPT</p>
                    <p class="kpi-description">
                        Enter your feature values and get appropriate response
                    </p>
                </div>
            </div>
            <div class="col-md-4 kpi-card-wrapper">
                
                <div class="kpi-card">
                    <i class="kpi-icon fa fa-houzz" aria-hidden="true"></i>
                    <p class="kpi-title">MANAGE</p>
                    <p class="kpi-description">
                        Manage your data operations like import save update. Train
                        your models on custom data.
                    </p>
                </div>
            </div>
        </div>

</div>

<div class="container-fluid main-page-support">
    
</div>
        
{% endblock %}